header{
    width: 100%;
    background: rgba(255, 144, 14, 0.1);
}
nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.logo{
    font-family: sans-serif;
    font-weight: 700px;
    font-size: 40px;
}
nav a{
    text-decoration: none;
    margin: 10px;
}
.banner-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-heading h1{
    font-family:sans-serif;
    font-weight: 700;
    font-size: 64px;
}
.banner-heading p{
    font-weight: 400px;
    font-size: 16px;
    margin-top: -20px;
    color: rgb(150, 149, 149);
}
.banner-heading button{
    color: white;
    background: orange;
    border-radius: 5px;
    padding: 15px;
    border: none;
    margin-top: 5px;
}
.banner{
    display: flex;
    justify-content: center;
}
.banner img{
    width: 70%;
    margin-top: 20px;
    border-radius: 5px;
    padding-bottom: 20px;
}



.team-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.team-image-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 40%;
}
.team-image-content img{
    width: 100%;
}
.team-heading{
    width: 40%;
    padding: 50px;
}
.quick-list{
    font-size: 45px;
    font-weight: 500;
}
.of-our{
    font-weight: 700;
}
.feature{
    font-weight: 700;
    color: orange;
}
.team-heading p{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
}
.team-heading button{
    padding: 15px;
    color: white;
    border: none;
    background: orange;
    border-radius: 7px;
}
.expreriance-main-content{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.experiance-first-part{
    width: 40%;
}
.experiance-first-part p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.experiance-first-part h3{
    font-weight: 700;
    font-size: 22px;
}
.experiance-middle-part{
  display: grid;
  gap: 15px;
  
}
.experiance-first-part div{
    border-radius: 10px;
    /* border: 1px solid; */
}
.experiance-middle-part div{
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 10px 10px 10px 10px rgb(248, 246, 246);
}

.experiance-title{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 40px;
    border-left: 5px solid orange;
    padding-left: 5px;
}
.experiance-image{
    width: 42%;
    margin-left: 50px;
}
.experiance-image img{
    width: 100%;
}
.experiance-btn{
    font-weight: 700;
    font-size: 40px;
    padding: 20px;
    color: white;
    background: orange;
    border-radius: 5px;
    border: none;
    position: relative;
    left: 650px;
    bottom: 120px;
}
.experiance-btn span{
    font-size: 18px;
}
.some-fact-container{
    margin-left: 100px;
}
.some-fact-container h2{
    font-family: sans-serif;
    font-weight: 800;
    font-size: 30px;
}
.some-fact-container p{
    font-size: 16px;
}
.rating-container{
    display: flex;
    justify-content: center;
    gap: 140px;
    margin-top: 100px;
    
}
.rating-container img{
    width: 25%;
}
.rating-container div{
    border: 1px solid orange;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}
.counter{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: -10px;
}
.sponsor-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}
.sponsor-image{
    display: flex;
    justify-content: space-around;
}
.sponsor-image img{
    width: 15%;
}
.sponsor-content{
    margin-bottom: 20px;
}
.sponsor-content h2{
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 800;
}
.sponsor-content p{
    font-size: 16px;
}
footer{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
footer p{
    width: 70%;
    background: #f7d3d3;
    padding: 30px;
    border-radius: 5px;
}