header{
    width: 100%;
    background: rgba(255, 144, 14, 0.1);
}
nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.logo{
    font-weight: 700px;
    font-size: 40px;
}
nav a{
    text-decoration: none;
    margin: 10px;
}
.banner-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-heading h1{
    font-weight: 700px;
    font-size: 64px;
}
.banner-heading p{
    font-weight: 400px;
    font-size: 16px;
    margin-top: -20px;
    color: rgb(150, 149, 149);
}
.banner-heading button{
    color: white;
    background: orange;
    border-radius: 5px;
    padding: 15px;
    border: none;
    margin-top: 5px;
}
.banner{
    display: flex;
    justify-content: center;
}
.banner img{
    width: 70%;
    margin-top: 20px;
    border-radius: 5px;
    padding-bottom: 20px;
}



.team-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.team-image-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 40%;
}
.team-image-content img{
    width: 100%;
}
.team-heading{
    width: 40%;
    padding: 50px;
}
.quick-list{
    font-size: 45px;
    font-weight: 500;
}
.of-our{
    font-weight: 700;
}
.feature{
    font-weight: 700;
    color: orange;
}
.team-heading p{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
}
.team-heading button{
    padding: 15px;
    color: white;
    border: none;
    background: orange;
    border-radius: 7px;
}